<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyv.meifa.mapper.YyvSpMapper">
    <select id="selectYyvSp" resultType="YyvSp">
        select * from yyv_sp
    </select>
    <insert id="insertYyvSp" parameterType="YyvSp">
        insert into yyv_sp(spName)value (#{spName});
    </insert>
    <update id="updateYyvSp" parameterType="YyvSp">
        update yyv_sp set spName=#{spName} where id=#{id}
    </update>
    <delete id="deleteYyvSp" parameterType="int">
        delete from yyv_sp where id=#{id}
    </delete>
    <select id="selectYyvSpById" parameterType="int" resultType="YyvSp">
        select *from yyv_sp where id=#{id}
    </select>

</mapper>