<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyv.meifa.mapper.YyvUserMapper">
    <select id="selectYyvUser" resultType="YyvUser">
        select * from yyv_user
        <trim prefix="where" prefixOverrides="and">
            <if test="userCode!=null"> and userCode like concat('%',#{userCode},'%')</if>
            <if test="userName!=null"> and userName like concat('%',#{userName},'%')</if>
        </trim>
        order by firstTime desc
        limit #{pageIndex},#{pageSize}
    </select>
    <insert id="insertYyvUser" parameterType="YyvUser">
        insert into yyv_user(userName,userCode,phone)value (#{userName},#{userCode},#{phone});
    </insert>
    <update id="updateYyvUser" parameterType="YyvUser">
        update yyv_user set userName=#{userName},sumjin=#{sumjin},zcount=#{zcount},yuE=#{yuE},phone=#{phone} where id=#{id}
    </update>
    <delete id="deleteYyvUser" parameterType="int">
        delete from yyv_user where id=#{id}
    </delete>
    <select id="selectYyvUserById" parameterType="int" resultType="YyvUser">
        select *from yyv_user where id=#{id}
    </select>
    <update id="updateYyvUserByyuE">
        update yyv_user set yuE=yuE+#{yuE} where id=#{id}
    </update>
    <select id="selectYyvUserCode" parameterType="int" resultType="YyvUser">
        select * from yyv_user where userCode=#{userCode}
    </select>
    <update id="xiaoFeiUpdateYyvUser" parameterType="YyvUser">
        update yyv_user set sumjin=#{sumjin},zcount=#{zcount},yuE=#{yuE},lastTime=#{lastTime} where id=#{id}
    </update>
    <select id="selectUserCount" resultType="int">
        select count(1) from yyv_user
        <trim prefix="where" prefixOverrides="and">
            <if test="userCode!=null"> and userCode like concat('%',#{userCode},'%')</if>
            <if test="userName!=null"> and userName like concat('%',#{userName},'%')</if>
        </trim>
    </select>
</mapper>